{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

<!--标题-->
{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

<!--左侧产品类目，右侧主窗口产品列表-->
{% block content %}
    <!--左侧产品类目-->
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <!--判断是否是传递显示指定类目的产品，没有传递默认选中显示全部-->
            <li {% if not category %}
                    class="selected"
            {% endif %}>
                <a href="{% url "shop:product_list"%}">All</a>
            </li>
            <!--迭代显示所有类目（顺便判断一个是否在有传递指定category的情况下默认选中相匹配的category,显示相应的产品。）-->
            {% for cate in categories %}
                <li {% if cate.slug == category.slug %}
                    class="selected"
                {% endif %}>
                    <a href="{{ cate.get_absolute_url }}">{{ cate.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!--右侧主窗口产品列表-->
    <div id="main" class="product-list">
        <h1 {% if category %}
                {{ category.name }}
            {% else %}
                Products
        {% endif %}>
        </h1>
        {% for product in products %}
            <div class="item">
            <!--图-->
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}
                    {% thumbnail product.image "300x200" crop="100%" as im %}
                        {{ im.url }}
                    {% endthumbnail %}
                {% else %}
                    {% static "img/no_image.png" %}
                {% endif %}">
            </a>
            <!--名-->
            <a href="{{ product.get_absolute_url }}">
                {{ product.name }}
            </a>
            <!--价-->
            {{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
